@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* reset layot */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --active-link: rgb(255, 115, 0);
    --body: rgb(16, 16, 16);
    --links-color: #636363;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    background-color: var(--body, rgb(16, 16, 16));
}

.container {
    margin: 0 auto;
    width: 95%;
}

/* ========= Header ========= */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 20px;
    width: 100%;
}

header .container nav {
    text-transform: capitalize;
    display: flex;
    gap: 50px;
}

header .container nav a {
    color: var(--links-color, #636363);
}

header .container nav a.active {
    color: var(--active-link, rgb(255, 115, 0));
    font-weight: bold;
}

h1 {
    font-size: 1.2rem;
    background: linear-gradient(to right, orangered, red);
    background-clip: text;
}

h1 a {
    color: transparent;
}

.btn-hire {
    padding: 8px 50px;
    border: none;
    outline: none;
    background: linear-gradient(to right, rgb(245, 89, 33), red);
    border-radius: 10px;
}

.btn-hire a {
    color: white;
}